#facef-sdk-wrapper {
  z-index:-1;
  min-width: 100%; width: auto;
  min-height:100%; height:auto;
  margin:0;
  padding:0;
  position:fixed;
  object-fit: overlap;

  
}
#facef-sdk-video {
  min-width: 100%; width: auto;
  min-height:100%; height:auto;
  margin:0;
  padding:0;
  position:fixed;
  object-fit: fill;
}

#facef-sdk-canvas {
  min-width: 100%; width: auto;
  min-height:100%; height:auto;
  margin:0;
  padding:0;
  position:fixed;
  z-index:10000;
  object-fit: fill;

}

#progress-bar[value] {
  position:fixed;
  margin-left:35%;
  margin-right:35%;
  margin-top:40%;
  text-align:center;
  width: 30%;
  height: 2em;
  -webkit-appearance: none;
  
}

.red-button {
  padding: 20px;
  border-radius: 33px;
  background: red;
}

.green-button {
  padding: 20px;
  border-radius: 33px;
  background: green;
}

.videosource{
  display: none;
}