.productMenu {
  width:100%;
  background-color:rgba(255, 255, 255, 0.7);
  text-align:center;
  height:2em;
  z-index:10;
}

.productMenu .productMenuItem {
padding-bottom:0em;
padding-top:2em;
padding-left:1.5em;
padding-right:1.5em;
text-transform: lowercase;
font-size:1em
}

.productVariants{
  display: flex;
  width: 100%;
  position: absolute;
  align-content: center;
  justify-content: center;
  margin-top:.5em;
}
.productVariants img{
  width: 2em;
  height: 2em;
  z-index: 100;
  margin: .5em;
  border-radius: 2em;
  cursor: pointer;
}

.productVariants img:hover{
transform: scale(1.2);
}